/* reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* utility */
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 900px;
    margin:0 auto;
}
.white {
    color:#fff;
}
.grey {
    color: rgb(156, 156, 156);
}

/* header */
#logo {
    height: 80px;
    vertical-align: middle;
    padding:15px 5px 15px 25px;
}
#titolo {
    display: inline-block;
    vertical-align: middle;
    font-size: 60px;
    font-weight: 900;
}

/*  button section */
.btn {
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    height: 40px;
    margin-right:10px;
    border-radius: 8px;
    padding: 10px;
    text-decoration:none;
}
.add-task {
    border:0px;
    background-color: #45ABEA;
}
.add-section {
    border:1px solid rgb(156, 156, 156);
}

/* main */
.button-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* task list */
summary {
    font-weight: 900;
    font-size: 30px ;
}
details {
    font-size: large;
    margin-bottom: 30px;
}
ul {
    list-style-type: none;
}
li {
    padding:10px;
}

/* to do - done mark */
.checkmark {
    
    color:rgb(0, 168, 0);
    font-size: 15px;
    border: 2px solid rgb(0, 168, 0);
    padding: 2px 4px;
    border-radius: 50%;
}
.crossmark {
    font-size: 15px;
    color: red;
    border: 2px solid red;
    padding: 2px 4px;
    border-radius: 50%;
} 

    /* tag section */
.tag {
    padding:5px 10px;
    border: 0px solid;
    border-radius: 14px;
}
.editorial {
    background-color: #45ABEA;
}
.q1-goals {
    background-color: rgb(180, 67, 255);
}
.recruiting {
    background-color: #05be71;
}
.mobile {
    background-color: orange;
}
.website {
    background-color:rgb(255, 108, 164);
}
.sales {
    background-color: rgb(141, 212, 83);
}